body {
    background-image: url("pic.jpg");
    background-color: #757575;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(68, 68, 68);
   /* background: linear-gradient(to right, rgba(66, 66, 66, 0.918), transparent);*/
    background:  rgba(46, 46, 46, 0.932);
	font-family: arial;
	font-size: 25px;
    font-weight: bold;

}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(255, 153, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgb(255, 174, 0);
    color: rgb(71, 71, 71);
}

.active {
    background-color: darkslateblue;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    border-radius: 25px;
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#btn {
  /*  border-radius: 25px;*/
    background-color: rgb(70, 70, 70);
    color: rgb(255, 153, 0);
    padding: 15px 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
}
#btn:hover{
    background-color: rgb(255, 153, 0);
    color: rgb(70, 70, 70);
}

#btn2 {
      border-radius: 25px;
      background-color: #4CAF50;
      float: center;
      color: white;
      padding: 15px 15px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 20%;
  }

#trivia-btn {
    /*white-space: nowrap;*/
    text-align: center;  
   /* border-radius: 25px;*/
    background-color: rgb(70, 70, 70);
    float: center;
    color: rgb(255, 153, 0);
    padding: 15px 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
   /* display: inline-block;*/
    font-size: 30px;
}

#trivia-btn:hover {
    background-color: rgb(255, 153, 0);
    color: rgb(70, 70, 70);
}

#trivia-btn2 {
   /* border-radius: 25px;*/
    background-color: rgb(255, 153, 0);
    float: center;
    color: rgb(70, 70, 70);
    padding: 15px 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    font-size: 30px;
}
#trivia-btn2:hover {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}

/* Float signup button and add an equal width */
.cancelbtn,.signupbtn {
    float: center;
    width: 20%;
    border-radius: 25px;
    /*background-color: #4CAF50;*/
    /*background-color: rgb(255, 153, 0);
    color: rgb(70, 70, 70);*/
    background-color: rgb(70, 70, 70);
    color: rgb(255, 153, 0);
    padding: 15px 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.signupbtn:hover {
    background-color: rgb(255, 153, 0);
    color: rgb(70, 70, 70);
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 81%;
}

th, td {
    border: 0px solid #ddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){background-color: rgba(255, 255, 255, 0.774)}
tr:nth-child(odd){background-color: rgba(255, 255, 255, 0.774)}
tr:hover {background-color: rgba(255, 153, 0, 0.849); color: white;}

/*th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: darkslateblue;
    color: white;
}*/
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(255, 153, 0);
    color: rgb(70, 70, 70);
}
